$primary-color: #6b5f5b;
$secondary-color: #efdcd5;
$trimary-color: #8c7b75;
$white: #fff;
$largefs: 30px;
$mediumfs: 25px;
$smallfs: 15px;
$ff: Montserrat,
sans-serif;


/* navigation */

body {
    background: $secondary-color;
}

.navbar {
    margin-bottom: 0;
    background-color: $trimary-color;
    z-index: 9999;
    border: 0;
    font-size: $smallfs !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: $ff;
    height: 100px;
}

.navbar-toggle {
    background-color: $white;
}

.collapse {
    background-color: $trimary-color;
}

.navbar-brand {
    font-size: $smallfs;

}

.navbar li a,
.navbar .navbar-brand {
    color: $white !important;
}

.navbar-nav li a:hover,
.navbar-nav li.active a {
    color: $trimary-color !important;
    background-color: $white !important;
}

.navbar-default .navbar-toggle {
    border-color: $white;
    color: $secondary-color !important;
}

/* Jumbotron */

.jumbotron {
    background-image: url(../images/mainimage.jpg);
    height: 900px;
}

.main {
    h1 {
        margin-top: 300px;
        color: $primary-color;
    }
}

.main {
    p {
        font-size: $largefs;
        font-weight: 500;
        color: $primary-color;
    }
}

/* Para */

.intro {
    h2 {
        color: $primary-color;
        margin: 40px;
        padding: 40px;
        text-align: center;
        font-family: $ff bold;
    }
}

/* 3 Projects */

.projects {
    h1 {
        color: $primary-color;
        margin: 40px;
        padding: 40px;
        text-align: center;
        font-family: $ff bold;
    }
}

.panel-footer {
    color: $primary-color;
    text-align: center;
    background-color: $white;
}
